@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
    90deg,
    rgba(28, 27, 59, 1) 0%,
    rgba(9, 7, 64, 1) 100%
    );
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 11rem;
}