@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
    90deg,
    rgba(28, 27, 59, 1) 0%,
    rgba(9, 7, 64, 1) 100%
    );
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 11rem;
}

.logo {
    width: 65px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 45px;
    transition: all 0.4s;
}

nav ul li a:hover {
    color: #0172ce;
}

/* main section */
.main {
    margin-top: 30px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container .title-section {
    color: white;
}

.title-section h2 {
    font-size: 5.6rem;   
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;
    line-height: 70px;
}

.title-section .title {
    margin-bottom: 40px; 
    position: relative;
}

.title-section .title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -35px;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(233, 130, 219),rgb(158, 80, 158));
}

.title-section h3 {
    font-size: 2rem;
    color: rgb(177, 177, 177);
    margin-bottom: 10px;
}

.price p {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.price button {
    padding: 15px 40px;
    background: linear-gradient(to right, rgb(233, 130, 219),rgb(158, 80, 158));
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.price button:hover {
    color: #0172ce;
    padding: 20px 45px;
}